* {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.main {
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
}

.el-footer {
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 260px;
}