* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  place-items: center; /* 居中元素 */
  height: 100vh; /* 设置容器的高度，以确保垂直居中占据整个视口 */
  background-color: #409eff;
  background-image: 
    radial-gradient(closest-side, #79bbff, rgba(78, 225, 235, 0)),
    radial-gradient(closest-side, #a0cfff, rgba(78, 120, 235, 0)),
    radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, #d9ecff, rgba(0, 238, 255, 0)),
    radial-gradient(closest-side, #ecf5ff, rgba(78, 225, 235, 0));
  background-size: 
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement linear infinite;
}

.box {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

img {
  margin: 140px 0px 18px 150px;
  width: 200px;
  height: 60px;
}

.staffNoInput {
  margin-left: 50px;
  margin-bottom: 18px;
  width: 400px;
}

.pwdInput {
  margin-left: 50px;
  margin-bottom: 18px;
  width: 400px;
}

.loginBtn {
  margin-left: 50px;
  width: 400px;
  color: #fff;
  border: 1px solid #fff;
}

:deep .el-input__wrapper {
  background-color: transparent !important;
  border: 1px solid #fff;
}

:deep[data-v-37dfd6fc] input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-out 0.5s;
}

:deep input::-webkit-input-placeholder {
  color: #fff;
}

:deep input::-moz-input-placeholder {
  color: #fff;
}

:deep input::-ms-input-placeholder {
  color: #fff;
}

.el-form-item--large /deep/ .el-form-item__label {
  color: #fff !important;
}

:deep .el-input__prefix-inner {
  color: #ffffff !important;
}