* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  place-items: center; /* 居中元素 */
  height: 100vh; /* 设置容器的高度，以确保垂直居中占据整个视口 */
  background: #ffffff;
}

.box {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

img {
  margin: 140px 0px 18px 150px;
  width: 200px;
  height: 60px;
}

.staffNoInput {
  margin-left: 50px;
  margin-bottom: 18px;
  width: 400px;
}

.pwdInput {
  margin-left: 50px;
  margin-bottom: 18px;
  width: 400px;
}

.loginBtn {
  margin-left: 50px;
  width: 400px;
}