* {
  margin: 0;
  padding: 0;
}

.main {
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
}

.el-footer {
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 260px;
}

h2 {
  position: absolute;
  margin: 88px 0 0 24px;
  font-weight: bold;
  font-size: 22px;
}

.settings_btn {
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 100px;
  right: 100px;
}

.header {
  margin-bottom: 24px;
}

.footer {
  margin-top: 30px;
}

.settings-option {
  display: flex;
  justify-content: space-between;
}

.settings-option > span {
  line-height: 40px;
  font-weight: bold;
  font-size: 15px;
}

.el-breadcrumb {
  width: 70%;
  margin: 0 auto;
  padding: 0 0 12px 20px;
}