.flex-grow {
  flex-grow: 1;
}

img {
  height: 40px;
  margin: 6px 0 0 1.5em;
}

.el-menu {
  font-family: 'alibaba';
  font-weight: bold;
}

.el-sub-menu {
  font-family: 'alibaba';
}

.el-menu-item {
  font-family: 'alibaba';
}

h1 {
  line-height: 58px; 
  margin-left: 30px;
}