.container {
  margin: 10px 10px 0 10px;
}

.form {
  margin-bottom: 10px;
}

.tabs {
  max-width: 60%;
}

.el-tab-pane .el-input {
  width: 50%;
}

.el-tab-pane .el-button {
  margin-top: 12px;
}

.el-form-item span {
  margin-left: 12px;
}